openapi: 3.0.1
info:
  description: |
    <div class="description_important">
        Узнать больше о заказах DBS можно в <a href="https://seller.wildberries.ru/instructions/category/6572e024-7428-4db1-86a8-a4c7dbebbfcf?goBackOption=prevRoute&categoryId=5a8e1202-0865-45b7-acae-5d0afc7add56">справочном центре</a>
    </div>

    Управление [сборочными заданиями](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) и [метаданными](/openapi/orders-dbs#tag/Metadannye-DBS) заказов DBS (Delivery by Seller).
  title: Заказы DBS
  version: order
  x-file-name: orders-dbs
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Сборочные задания DBS
- description: ""
  name: Метаданные DBS
paths:
  /api/v3/dbs/orders/new:
    get:
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_200_response"
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список новых сборочных заданий
      tags:
      - Сборочные задания DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders:
    get:
      description: |
        Метод возвращает информацию о завершенных [сборочных заданиях](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) после продажи или отмены заказа.
        <br><br>
        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        </div>
      parameters:
      - description: Параметр пагинации. Устанавливает предельное количество возвращаемых
          данных.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Параметр пагинации. Устанавливает значение, с которого надо\
          \ получить следующий пакет данных. Для получения полного списка данных д\
          олжен быть равен `0` в первом запросе. Для следующих запросов необходимо\
          \ брать значения из одноименного поля в ответе."
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Дата начала периода в формате Unix timestamp
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          type: integer
        style: form
      - description: Дата конца периода в формате Unix timestamp
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить информацию о завершенных сборочных заданиях
      tags:
      - Сборочные задания DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/groups/info:
    post:
      description: |
        Метод возвращает информацию о платной доставке сборочных заданий, которые поступили на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrderGroupsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrderGroup"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      summary: Получить информацию о платной доставке
      tags:
      - Сборочные задания DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/client:
    post:
      description: |
        Метод возвращает информацию о покупателе по ID сборочных заданий.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrdersRequestAPI"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DbsOnlyClientInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Информация о покупателе
      tags:
      - Сборочные задания DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/delivery-date:
    post:
      description: |
        Метод возвращает информацию о выбранных покупателем дате и времени доставки сборочных заданий.
        <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryDatesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryDatesInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest1"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Дата и время доставки
      tags:
      - Сборочные задания DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/status:
    post:
      description: |
        Метод возвращает статусы сборочных заданий по их ID.
        <br><br>
        `supplierStatus` — статус сборочного задания. Триггер его изменения — действие самого продавца.

        Возможные значения `supplierStatus`:
        | Статус   | Описание            | Как перевести сборочное задание в данный статус |
        | -------  | ---------           | --------------------------------------|
        | `new`      | **Новое сборочное задание** | |
        | `confirm`  | **На сборке**      |  [Перевести сборочное задание на сборку](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1{orderId}~1confirm/patch)
        | `deliver`  | **В доставке**    | [Перевести сборочное задание в доставку](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1{orderId}~1deliver/patch)
        | `receive`  | **Получено покупателем**       | [Сообщить, что заказ принят покупателем](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1{orderId}~1receive/patch) <br>
        | `reject`   | **Отказ покупателя при получении**           |  [Сообщить, что покупатель отказался от заказа](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1{orderId}~1reject/patch)
        | `cancel`   | **Отменено продавцом**   |  [Отменить сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1{orderId}~1cancel/patch)
        | `cancel_missed_call` | **Отмена по причине недозвона** | Статус меняется автоматически |

        <br><br>
        `wbStatus` — статус системы Wildberries.

        Возможные значения `wbStatus`:
        - `waiting` — сборочное задание в работе
        - `sold` — заказ получен покупателем
        - `canceled` — отмена сборочного задания
        - `canceled_by_client` — покупатель отменил заказ при получении
        - `declined_by_client` — покупатель отменил заказ в первый чаc
        <br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведен на сборку
        - `defect` — отмена заказа по причине брака
        - `ready_for_pickup` — сборочное задание прибыло на ПВЗ
        - `canceled_by_missed_call` — отмена по причине недозвона

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbs_orders_status_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_status_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить статусы сборочных заданий
      tags:
      - Сборочные задания DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/cancel:
    patch:
      description: |
        Метод отменяет [сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) и переводит в [статус](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Отменено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Отменить сборочное задание
      tags:
      - Сборочные задания DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/confirm:
    patch:
      description: |
        Метод переводит [сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) в [статус](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Подтверждено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Перевести на сборку
      tags:
      - Сборочные задания DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/deliver:
    patch:
      description: |
        Метод переводит [сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) в [статус](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `deliver` — в доставке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Подтверждено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Перевести в доставку
      tags:
      - Сборочные задания DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/receive:
    patch:
      description: |
        Метод переводит [сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) в [статус](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `receive` — получено покупателем.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 33 запроса
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Code"
        required: true
      responses:
        "204":
          description: Подтверждено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
                InvalidWBCode:
                  $ref: "#/components/examples/InvalidWBCode"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: "Сообщить, что заказ принят покупателем"
      tags:
      - Сборочные задания DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/reject:
    patch:
      description: |
        Метод переводит [сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) в [статус](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `reject` — отказ при получении.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 33 запроса
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Code"
        required: true
      responses:
        "204":
          description: Подтверждено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
                InvalidWBCode:
                  $ref: "#/components/examples/InvalidWBCode"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: "Сообщить, что покупатель отказался от заказа"
      tags:
      - Сборочные задания DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/meta:
    delete:
      description: |
        Метод удаляет значение [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/get) для переданного ключа.
        <br><br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1sgtin/put)

        Можно передать только один ключ.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      - description: "Название метаданных для удаления (**imei**, **uin**, **gtin**,\
          \ **sgtin**). Передается только одно значение."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: Удалено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка удаления метаданных
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удалить метаданные сборочного задания
      tags:
      - Метаданные DBS
      x-readonly-method: false
      x-category: marketplace
    get:
      description: |
        Метод возвращает метаданные [сборочного задания](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders/get).
        <br><br>
        Перечень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get), поле `requiredMeta`.
        <br><br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1sgtin/put)

        Если ответ вернулся с пустой структурой `meta`, значит у сборочного задания нет метаданных и добавить их нельзя.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders__orderId__meta_get_200_response"
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить метаданные сборочного задания
      tags:
      - Метаданные DBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/meta/sgtin:
    put:
      description: |
        Метод позволяет закрепить за сборочным заданием код маркировки [Честный знак](https://честныйзнак.рф).
        <br><br>
        Закрепить код маркировки можно только если в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/get) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `confirm`.
        <br><br>
        Получить загруженные маркировки можно в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbs_orders__orderId__meta_sgtin_put_request"
      responses:
        "204":
          description: Отправлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления маркировки.
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием код маркировки товара
      tags:
      - Метаданные DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/meta/uin:
    put:
      description: |
        Метод обновляет УИН в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/get) — уникальный идентификационный номер.
        <br><br>
        У одного сборочного задания может быть только один УИН.

        Добавлять маркировку можно только для сборочных заданий, которые находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbs_orders__orderId__meta_uin_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления маркировки.
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием УИН (уникальный идентификационный номер)
      tags:
      - Метаданные DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/meta/imei:
    put:
      description: |
        Метод обновляет IMEI в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/get).
        <br><br>
        У одного сборочного задания может быть только один IMEI.

        Добавлять маркировку можно только для сборочных заданий, которые находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbs_orders__orderId__meta_imei_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления маркировки.
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием IMEI
      tags:
      - Метаданные DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/meta/gtin:
    put:
      description: |
        Метод обновляет GTIN в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta/get) — уникальный ID товара в Беларуси.
        <br><br>
        У одного сборочного задания может быть только один GTIN.

        Добавлять маркировку можно только для сборочных заданий, которые находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbs_orders__orderId__meta_gtin_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещен
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления маркировки.
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием GTIN
      tags:
      - Метаданные DBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
components:
  examples:
    IncorrectRequestBody:
      description: Некорректное тело запроса
      value:
        code: IncorrectRequestBody
        message: Некорректное тело запроса
    IncorrectRequest:
      value:
        code: IncorrectRequest
        message: Переданы некорректные данные
    IncorrectRequest1:
      description: Некорректный запрос
      value:
        code: IncorrectRequest
        message: ""
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: Передан некорректный параметр
    FailedToUpdateMeta:
      value:
        code: FailedToUpdateMeta
        message: "Не удалось обновить метаданные сборочного задания. Убедитесь, чт\
          о сборочное задание удовлетворяет всем необходимым требованиям (сборочно\
          е задание существует, находится в статусе \"На сборке\", сборочному зада\
          нию доступны метаданные см. описание метода **Получить метаданные сбороч\
          ного задания**)"
    StatusMismatch:
      value:
        code: StatusMismatch
        message: "Несоответствие статусов, проверьте их правильность"
    InvalidWBCode:
      description: Код недействителен
      value:
        code: InvalidWBCode
        message: ""
  parameters:
    OrderDBS:
      description: ID сборочного задания
      explode: false
      in: path
      name: orderId
      required: true
      schema:
        example: 5632423
        format: int64
        type: integer
      style: simple
    Order:
      description: ID сборочного задания
      explode: false
      in: path
      name: orderId
      required: true
      schema:
        example: 5632423
        format: int64
        type: integer
      style: simple
    Next:
      description: "Параметр пагинации. Устанавливает значение, с которого надо по\
        лучить следующий пакет данных. Для получения полного списка данных должен\
        \ быть равен `0` в первом запросе. Для следующих запросов необходимо брать\
        \ значения из одноименного поля в ответе."
      explode: true
      in: query
      name: next
      required: true
      schema:
        format: int64
        type: integer
      style: form
    Limit:
      description: Параметр пагинации. Устанавливает предельное количество возвращаемых
        данных.
      explode: true
      in: query
      name: limit
      required: true
      schema:
        maximum: 1000
        minimum: 1
        type: integer
      style: form
  responses:
    "401":
      content:
        application/json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
      description: Не авторизован
    "429":
      content:
        application/json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v3_dbs_orders_new_get_401_response"
      description: Слишком много запросов
    NotFound:
      content:
        application/json:
          example:
            code: NotFound
            message: ""
          schema:
            $ref: "#/components/schemas/Error"
      description: Не найдено
    AccessDenied:
      content:
        application/json:
          example:
            code: AccessDenied
            message: ""
          schema:
            $ref: "#/components/schemas/Error"
      description: Доступ запрещен
  schemas:
    api.OrderGroupsRequest:
      example:
        groups:
        - 7a2c8810-1db2-4011-9682-5c7fa33afd83
        - 5a8f4523-4cf2-5691-9682-5a7fd33afd73
      properties:
        groups:
          description: "Список значений `groupId`. Можно получить из [новых](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get)\
            \ и [завершенных](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders/get)\
            \ сборочных заданий"
          items:
            type: string
          maxItems: 1000
          type: array
      type: object
    Error:
      example:
        code: code
        data: "{}"
        message: message
      nullable: false
      properties:
        code:
          description: Код ошибки
          nullable: false
          type: string
        message:
          description: Описание ошибки
          nullable: false
          type: string
        data:
          description: "Дополнительные данные, обогащающие ошибку"
          nullable: true
          type: object
      type: object
    OrdersRequestAPI:
      example:
        orders:
        - 987654321
        - 123456789
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
          type: array
      type: object
    api.OrderGroup:
      items:
        $ref: "#/components/schemas/api_OrderGroup_inner"
      nullable: true
      type: array
    DeliveryDatesRequest:
      example:
        orders:
        - 1234567890
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            maxItems: 1000
            minItems: 1
            type: integer
          type: array
      type: object
    Code:
      example:
        code: "123456"
      properties:
        code:
          description: Код подтверждения. <br> Отображается у покупателя на сайте
            и в приложении Wildberries
          type: string
      type: object
    Next:
      description: "Параметр пагинации. Содержит значение, которое необходимо указ\
        ать в запросе для получения следующего пакета данных"
      example: 13833711
      format: int64
      nullable: false
      type: integer
    OrderNewDBS:
      example:
        cargoType: 0
        skus:
        - "6665956397512"
        - "6665956397512"
        groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        nmId: 123456789
        finalPrice: 1014
        rid: f884001e44e511edb8780242ac120002
        createdAt: 2022-05-04T07:56:29Z
        isZeroOrder: false
        price: 1014
        options:
          isB2b: true
        convertedCurrencyCode: 643
        id: 13833711
        address:
          latitude: 40.20192
          fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира, д\
            . 10А, кв. 42"
          longitude: 44.519068
        salePrice: 504658
        deliveryType: dbs
        requiredMeta:
        - uin
        article: one-ring-7548
        convertedFinalPrice: 1014
        convertedPrice: 1014
        orderUid: 165918930_629fbc924b984618a44354475ca58675
        warehouseId: 658434
        comment: "Упакуйте в пленку, пожалуйста"
        colorCode: RAL 3017
        chrtId: 987654321
        currencyCode: 643
      properties:
        salePrice:
          description: |
            Цена в валюте продажи с учетом скидки продавца, без учета скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          example: 504658
          nullable: true
          type: integer
        requiredMeta:
          description: "Список метаданных, доступных для сборочного задания. [Указ\
            ывать IMEI](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1v3~1dbs~1orders~1%7BorderId%7D~1meta~1imei/put)\
            \ обязательно для [предмета](./work-with-products/#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get)\
            \ `Смартфоны`, `\"subjectId\":515`"
          example:
          - uin
          items:
            type: string
          nullable: true
          type: array
        comment:
          description: Комментарий покупателя
          example: "Упакуйте в пленку, пожалуйста"
          maxLength: 300
          nullable: false
          type: string
        options:
          $ref: "#/components/schemas/OrderNewDBS_options"
        address:
          $ref: "#/components/schemas/OrderNewDBS_address"
        orderUid:
          description: ID транзакции для группировки сборочных заданий. Сборочные
            задания в одной корзине покупателя будут иметь одинаковый `orderUID`
          example: 165918930_629fbc924b984618a44354475ca58675
          type: string
        groupId:
          description: "ID группы сборочных заданий. <br> Объединяет сборочные зад\
            ания, поступившие на один склад (`warehouseId`) в рамках одной транзак\
            ции покупателя (`orderUid`)"
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
          format: UUID
          type: string
        article:
          description: Артикул продавца
          example: one-ring-7548
          nullable: false
          type: string
        colorCode:
          description: Код цвета (только для колеруемых товаров)
          example: RAL 3017
          nullable: false
          type: string
        rid:
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Отчет о продажах по реализации](./financial-reports-and-accounting#tag/Finansovye-otchyoty/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)
          example: f884001e44e511edb8780242ac120002
          nullable: false
          type: string
        createdAt:
          description: Дата создания сборочного задания
          example: 2022-05-04T07:56:29Z
          format: date-time
          nullable: false
          type: string
        deliveryType:
          description: |
            Тип доставки:
              - `dbs` — доставка силами продавца
              - `edbs` — экспресс-доставка силами продавца
          enum:
          - dbs
          - edbs
          nullable: false
          type: string
        skus:
          description: Массив баркодов товара
          items:
            example: "6665956397512"
            type: string
          nullable: false
          type: array
        id:
          description: ID сборочного задания
          example: 13833711
          format: int64
          nullable: false
          type: integer
        warehouseId:
          description: "ID склада продавца, на который поступило сборочное задание"
          example: 658434
          nullable: false
          type: integer
        nmId:
          description: Артикул WB
          example: 123456789
          nullable: false
          type: integer
        chrtId:
          description: ID размера товара в системе WB
          example: 987654321
          nullable: false
          type: integer
        price:
          description: "Цена в валюте продажи с учетом всех скидок, кроме скидки п\
            о WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`.\
            \ Предоставляется в информационных целях"
          example: 1014
          nullable: false
          type: integer
        finalPrice:
          description: "Сумма к оплате покупателем в валюте продажи с учетом всех\
            \ скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`.\
            \ Предоставляется в информационных целях"
          example: 1014
          type: integer
        convertedFinalPrice:
          description: "Сумма к оплате покупателем в валюте страны продавца с учет\
            ом всех скидок, умноженная на 100. Предоставляется в информационных це\
            лях"
          example: 1014
          type: integer
        convertedPrice:
          description: "Цена в валюте страны продавца с учетом всех скидок, кроме\
            \ скидки по WB Кошельку, умноженная на 100. Предоставляется в информац\
            ионных целях"
          example: 1014
          nullable: false
          type: integer
        currencyCode:
          description: Код валюты продажи
          example: 643
          format: ISO 4217
          nullable: false
          type: integer
        convertedCurrencyCode:
          description: Код валюты страны продавца
          example: 643
          format: ISO 4217
          nullable: false
          type: integer
        cargoType:
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
          - 1
          - 2
          - 3
          nullable: false
          type: integer
        isZeroOrder:
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
          type: boolean
      type: object
    OrderDBS:
      example:
        cargoType: 0
        address:
          latitude: 40.20192
          fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира, д\
            . 10А, кв. 42"
          longitude: 44.519068
        skus:
        - "6665956397512"
        - "6665956397512"
        groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        deliveryType: deliveryType
        nmId: 12345678
        finalPrice: 1014
        rid: f884001e44e511edb8780242ac120002
        article: one-ring-7548
        convertedFinalPrice: 1014
        createdAt: 2022-05-04T07:56:29Z
        convertedPrice: 1014
        orderUid: 165918930_629fbc924b984618a44354475ca58675
        isZeroOrder: false
        warehouseId: 658434
        price: 1014
        options:
          isB2b: true
        colorCode: RAL 3017
        convertedCurrencyCode: 643
        comment: "Упакуйте в пленку, пожалуйста"
        id: 13833711
        chrtId: 987654321
        currencyCode: 643
      properties:
        address:
          $ref: "#/components/schemas/OrderDBS_address"
        deliveryType:
          description: |
            Тип доставки:
              - `dbs` — доставка силами продавца
              - `edbs` — экспресс-доставка силами продавца
          nullable: false
          type: string
        options:
          $ref: "#/components/schemas/OrderNewDBS_options"
        orderUid:
          description: ID транзакции для группировки сборочных заданий. Сборочные
            задания в одной корзине покупателя будут иметь одинаковый `orderUID`
          example: 165918930_629fbc924b984618a44354475ca58675
          type: string
        groupId:
          description: "ID группы сборочных заданий. <br> Объединяет сборочные зад\
            ания, поступившие на один склад (`warehouseId`) в рамках одной транзак\
            ции покупателя (`orderUid`)"
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
          format: UUID
          type: string
        article:
          description: Артикул продавца
          example: one-ring-7548
          nullable: false
          type: string
        colorCode:
          description: Код цвета (только для колеруемых товаров)
          example: RAL 3017
          nullable: false
          type: string
        rid:
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Отчет о продажах по реализации](./financial-reports-and-accounting#tag/Finansovye-otchyoty/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)
          example: f884001e44e511edb8780242ac120002
          nullable: false
          type: string
        createdAt:
          description: Дата создания сборочного задания
          example: 2022-05-04T07:56:29Z
          format: date-time
          nullable: false
          type: string
        skus:
          description: Массив баркодов товара
          items:
            example: "6665956397512"
            type: string
          nullable: false
          type: array
        id:
          description: ID сборочного задания
          example: 13833711
          format: int64
          nullable: false
          type: integer
        warehouseId:
          description: "ID склада продавца, на который поступило сборочное задание"
          example: 658434
          nullable: false
          type: integer
        nmId:
          description: Артикул WB
          example: 12345678
          nullable: false
          type: integer
        chrtId:
          description: ID размера товара в системе WB
          example: 987654321
          nullable: false
          type: integer
        price:
          description: "Цена в валюте продажи с учетом всех скидок, кроме скидки п\
            о WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`.\
            \ Предоставляется в информационных целях"
          example: 1014
          nullable: false
          type: integer
        convertedPrice:
          description: "Цена в валюте страны продавца с учетом всех скидок, кроме\
            \ скидки по WB Кошельку, умноженная на 100. Предоставляется в информац\
            ионных целях"
          example: 1014
          nullable: false
          type: integer
        currencyCode:
          description: Код валюты продажи
          example: 643
          format: ISO 4217
          nullable: false
          type: integer
        convertedCurrencyCode:
          description: Код валюты страны продавца
          example: 643
          format: ISO 4217
          nullable: false
          type: integer
        convertedFinalPrice:
          description: "Сумма к оплате покупателем в валюте страны продавца с учет\
            ом всех скидок, умноженная на 100. Предоставляется в информационных це\
            лях"
          example: 1014
          type: integer
        finalPrice:
          description: "Сумма к оплате покупателем в валюте продажи с учетом всех\
            \ скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`.\
            \ Предоставляется в информационных целях"
          example: 1014
          type: integer
        cargoType:
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
          - 1
          - 2
          - 3
          nullable: false
          type: integer
        comment:
          description: Комментарий покупателя
          example: "Упакуйте в пленку, пожалуйста"
          maxLength: 300
          nullable: false
          type: string
        isZeroOrder:
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
          type: boolean
      type: object
    DbsOnlyClientInfo:
      example:
        firstName: firstName
        orderID: 134567
        phone: "+79871234567"
        fullName: Иван Иван Иванович
        phoneCode: 1234567
        replacementPhone: "79871234567"
        additionalPhoneCodes:
        - "12345"
        - "65498"
      properties:
        replacementPhone:
          description: |
            Подменный номер для связи с покупателем. <br>
            Пустое значение `""` указывает, что номер еще не назначен <br>
          example: "79871234567"
          nullable: false
          type: string
        firstName:
          description: Имя покупателя
          nullable: false
          type: string
        fullName:
          description: "Полное имя, используется для оформления документов. Наприм\
            ер, документы на автомобиль"
          example: Иван Иван Иванович
          nullable: false
          type: string
        orderID:
          description: ID сборочного задания
          example: 134567
          type: integer
        phone:
          description: |
            Резервный подменный номер телефона для связи с покупателем. <br>
            Используйте, если недоступен основной номер из `replacementPhone`.
            Чтобы позвонить покупателю, наберите этот номер и добавочный код из `phoneCode`. <br>
            Пустое значение `""` указывает, что номер ещё не назначен
          example: "+79871234567"
          nullable: false
          type: string
        phoneCode:
          description: |
            Добавочный код. <br>
            Пустое значение `""` указывает, что код ещё не назначен
          example: 1234567
          nullable: false
          type: integer
        additionalPhoneCodes:
          description: |
            Дополнительные добавочные коды. <br>
            Используйте, если не получилось дозвониться по добавочному коду из `phoneCode`.<br>
            Пустое значение `""` указывает, что код ещё не назначен
          example:
          - "12345"
          - "65498"
          items:
            type: string
          nullable: false
          type: array
      type: object
    DbsOnlyClientInfoResp:
      example:
        orders:
        - firstName: firstName
          orderID: 134567
          phone: "+79871234567"
          fullName: Иван Иван Иванович
          phoneCode: 1234567
          replacementPhone: "79871234567"
          additionalPhoneCodes:
          - "12345"
          - "65498"
        - firstName: firstName
          orderID: 134567
          phone: "+79871234567"
          fullName: Иван Иван Иванович
          phoneCode: 1234567
          replacementPhone: "79871234567"
          additionalPhoneCodes:
          - "12345"
          - "65498"
      properties:
        orders:
          description: Информация о покупателе
          items:
            $ref: "#/components/schemas/DbsOnlyClientInfo"
          type: array
      type: object
    DeliveryDatesInfoResp:
      example:
        orders:
        - dDateOld: 2025-01-28
          dDate: 2025-02-20
          dTimeFrom: 11:11
          dTimeFromOld: 12:30
          id: 1234567890
          dTimeTo: 22:22
          dTimeToOld: 22:30
        - dDateOld: 2025-01-28
          dDate: 2025-02-20
          dTimeFrom: 11:11
          dTimeFromOld: 12:30
          id: 1234567890
          dTimeTo: 22:22
          dTimeToOld: 22:30
      properties:
        orders:
          items:
            $ref: "#/components/schemas/DeliveryDatesInfoResp_orders_inner"
          type: array
      type: object
    Meta:
      description: Метаданные сборочного задания
      example:
        sgtin:
          value:
          - "123456789012345"
        gtin:
          value: "123456789012345"
        imei:
          value: "123456789012345"
        uin:
          value: "123456789012345"
      nullable: true
      properties:
        imei:
          $ref: "#/components/schemas/Meta_imei"
        uin:
          $ref: "#/components/schemas/Meta_uin"
        gtin:
          $ref: "#/components/schemas/Meta_gtin"
        sgtin:
          $ref: "#/components/schemas/Meta_sgtin"
      type: object
    _api_v3_dbs_orders_new_get_200_response:
      example:
        orders:
        - cargoType: 0
          skus:
          - "6665956397512"
          - "6665956397512"
          groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
          nmId: 123456789
          finalPrice: 1014
          rid: f884001e44e511edb8780242ac120002
          createdAt: 2022-05-04T07:56:29Z
          isZeroOrder: false
          price: 1014
          options:
            isB2b: true
          convertedCurrencyCode: 643
          id: 13833711
          address:
            latitude: 40.20192
            fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира,\
              \ д. 10А, кв. 42"
            longitude: 44.519068
          salePrice: 504658
          deliveryType: dbs
          requiredMeta:
          - uin
          article: one-ring-7548
          convertedFinalPrice: 1014
          convertedPrice: 1014
          orderUid: 165918930_629fbc924b984618a44354475ca58675
          warehouseId: 658434
          comment: "Упакуйте в пленку, пожалуйста"
          colorCode: RAL 3017
          chrtId: 987654321
          currencyCode: 643
        - cargoType: 0
          skus:
          - "6665956397512"
          - "6665956397512"
          groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
          nmId: 123456789
          finalPrice: 1014
          rid: f884001e44e511edb8780242ac120002
          createdAt: 2022-05-04T07:56:29Z
          isZeroOrder: false
          price: 1014
          options:
            isB2b: true
          convertedCurrencyCode: 643
          id: 13833711
          address:
            latitude: 40.20192
            fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира,\
              \ д. 10А, кв. 42"
            longitude: 44.519068
          salePrice: 504658
          deliveryType: dbs
          requiredMeta:
          - uin
          article: one-ring-7548
          convertedFinalPrice: 1014
          convertedPrice: 1014
          orderUid: 165918930_629fbc924b984618a44354475ca58675
          warehouseId: 658434
          comment: "Упакуйте в пленку, пожалуйста"
          colorCode: RAL 3017
          chrtId: 987654321
          currencyCode: 643
      nullable: false
      properties:
        orders:
          description: Список новых сборочных заданий
          items:
            $ref: "#/components/schemas/OrderNewDBS"
          nullable: false
          type: array
      type: object
    _api_v3_dbs_orders_new_get_401_response:
      example:
        code: code
        requestId: requestId
        origin: origin
        statusText: statusText
        detail: detail
        title: title
        status: 6.027456183070403
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        code:
          description: Внутренний код ошибки
          type: string
        requestId:
          description: Уникальный ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
        status:
          description: HTTP статус-код
          type: number
        statusText:
          description: Расшифровка HTTP статус-кода
          type: string
        timestamp:
          description: Дата и время запроса
          format: date-time
          type: string
      type: object
    _api_v3_dbs_orders_get_200_response:
      example:
        next: 13833711
        orders:
        - cargoType: 0
          address:
            latitude: 40.20192
            fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира,\
              \ д. 10А, кв. 42"
            longitude: 44.519068
          skus:
          - "6665956397512"
          - "6665956397512"
          groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
          deliveryType: deliveryType
          nmId: 12345678
          finalPrice: 1014
          rid: f884001e44e511edb8780242ac120002
          article: one-ring-7548
          convertedFinalPrice: 1014
          createdAt: 2022-05-04T07:56:29Z
          convertedPrice: 1014
          orderUid: 165918930_629fbc924b984618a44354475ca58675
          isZeroOrder: false
          warehouseId: 658434
          price: 1014
          options:
            isB2b: true
          colorCode: RAL 3017
          convertedCurrencyCode: 643
          comment: "Упакуйте в пленку, пожалуйста"
          id: 13833711
          chrtId: 987654321
          currencyCode: 643
        - cargoType: 0
          address:
            latitude: 40.20192
            fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира,\
              \ д. 10А, кв. 42"
            longitude: 44.519068
          skus:
          - "6665956397512"
          - "6665956397512"
          groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
          deliveryType: deliveryType
          nmId: 12345678
          finalPrice: 1014
          rid: f884001e44e511edb8780242ac120002
          article: one-ring-7548
          convertedFinalPrice: 1014
          createdAt: 2022-05-04T07:56:29Z
          convertedPrice: 1014
          orderUid: 165918930_629fbc924b984618a44354475ca58675
          isZeroOrder: false
          warehouseId: 658434
          price: 1014
          options:
            isB2b: true
          colorCode: RAL 3017
          convertedCurrencyCode: 643
          comment: "Упакуйте в пленку, пожалуйста"
          id: 13833711
          chrtId: 987654321
[...]
