openapi: 3.0.1
info:
  title: Заказы DBS
  version: order
  description: |
    <div class="description_important">
        Узнать больше о заказах DBS можно в <a href="https://seller.wildberries.ru/instructions/category/6572e024-7428-4db1-86a8-a4c7dbebbfcf?goBackOption=prevRoute&categoryId=5a8e1202-0865-45b7-acae-5d0afc7add56">справочном центре</a>
    </div>

    Управление [сборочными заданиями](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) и [метаданными](/openapi/orders-dbs#tag/Metadannye-DBS) заказов DBS (Delivery by Seller).
  x-file-name: orders-dbs
security:
  - HeaderApiKey: []
tags:
  - name: Сборочные задания DBS
    description: ''
  - name: Метаданные DBS
    description: ''
paths:
  /api/v3/dbs/orders/new:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить список новых сборочных заданий
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  orders:
                    type: array
                    nullable: false
                    description: Список новых сборочных заданий
                    items:
                      $ref: '#/components/schemas/OrderNewDBS'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить информацию о завершенных сборочных заданиях
      description: |
        Метод возвращает информацию о завершенных [сборочных заданиях](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) после продажи или отмены заказа.
        <br><br>
        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
          description: |
            Дата начала периода в формате Unix timestamp
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
          description: Дата конца периода в формате Unix timestamp
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  next:
                    $ref: '#/components/schemas/Next'
                  orders:
                    type: array
                    nullable: false
                    items:
                      $ref: '#/components/schemas/OrderDBS'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/groups/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      description: |
        Метод возвращает информацию о платной доставке сборочных заданий, которые поступили на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      tags:
        - Сборочные задания DBS
      summary: Получить информацию о платной доставке
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrderGroupsRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderGroup'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/client:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Информация о покупателе
      description: |
        Метод возвращает информацию о покупателе по ID сборочных заданий.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      tags:
        - Сборочные задания DBS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbsOnlyClientInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/b2b/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Информация о покупателе B2B
      description: |
        Метод возвращает данные B2B-покупателей по ID сборочных заданий:
          - ИНН
          - КПП
          - Наименование организации

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.B2bClientInfoResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/delivery-date:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Дата и время доставки
      description: |
        Метод возвращает информацию о выбранных покупателем дате и времени доставки сборочных заданий.
        <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      tags:
        - Сборочные задания DBS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryDatesRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryDatesInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest1'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить статусы сборочных заданий
      description: |
        Метод возвращает статусы [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) по их ID.
        <br><br>
        `supplierStatus` — статус сборочного задания. Триггер его изменения — действие самого продавца.

        Возможные значения `supplierStatus`:
        | Статус   | Описание            | Как перевести сборочное задание в данный статус |
        | -------  | ---------           | --------------------------------------|
        | `new`      | **Новое сборочное задание** | |
        | `confirm`  | **На сборке**      |  [Перевести сборочное задание на сборку](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post)
        | `deliver`  | **В доставке**    | [Перевести сборочное задание в доставку](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post)
        | `receive`  | **Получено покупателем**       | [Сообщить, что заказ принят покупателем](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post) <br>
        | `reject`   | **Отказ покупателя при получении**           |  [Сообщить, что покупатель отказался от заказа](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post)
        | `cancel`   | **Отменено продавцом**   |  [Отменить сборочное задание](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1cancel/post)
        | `cancel_missed_call` | **Отмена по причине недозвона** | Статус меняется автоматически |

        <br><br>
        `wbStatus` — статус системы Wildberries.

        Возможные значения `wbStatus`:
        - `waiting` — сборочное задание в работе
        - `sold` — заказ получен покупателем
        - `canceled` — отмена сборочного задания
        - `canceled_by_client` — покупатель отменил заказ при получении
        - `declined_by_client` — покупатель отменил заказ в первый чаc
        <br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведен на сборку
        - `defect` — отмена заказа по причине брака
        - `ready_for_pickup` — сборочное задание прибыло на ПВЗ
        - `canceled_by_missed_call` — отмена по причине недозвона

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Отменить сборочные задания
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статусов](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new`, `confirm` и `deliver` в статус `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Перевести сборочные задания на сборку
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new` в статус `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/stickers:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      x-token-types:
        - personal
        - service
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить стикеры для сборочных заданий с доставкой в ПВЗ
      description: |
        <div class="description_token">Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API">типам токенов</a>:<strong> Персональный</strong>,<strong> Сервисный</strong> </div>

        Метод возвращает стикеры для сборочных заданий с доставкой в ПВЗ в [статусах](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post):
          - `confirm` — на сборке
          - `deliver` — в доставке

        Получить стикеры можно только в размере 580x400 px в формате PDF.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      parameters:
        - name: type
          in: query
          required: true
          description: Формат стикера
          schema:
            type: string
            enum:
              - pdf
        - name: width
          in: query
          required: true
          description: Ширина стикера
          schema:
            type: integer
            enum:
              - 58
        - name: height
          in: query
          required: true
          description: Высота стикера
          schema:
            type: integer
            enum:
              - 40
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5346346
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  stickers:
                    type: array
                    nullable: false
                    description: Стикеры
                    items:
                      type: object
                      required:
                        - barcode
                        - file
                        - orderId
                        - partA
                        - partB
                      properties:
                        orderId:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5346346
                        partA:
                          type: string
                          nullable: false
                          description: Первая часть ID стикера
                          example: '231648'
                        partB:
                          type: string
                          nullable: false
                          description: Вторая часть ID стикера
                          example: '9753'
                        barcode:
                          type: string
                          nullable: false
                          description: Закодированное значение стикера
                          example: '!uKEtQZVx'
                        file:
                          type: string
                          nullable: false
                          description: Полное представление стикера, кодировка base64
                          example: JVBER...ZWYKMTM5MQolJUVPRg==
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Перевести сборочные задания в доставку
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm` в статус `deliver` — в доставке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/receive:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Сообщить о получении заказов
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `deliver` в статус `receive` — получено покупателем.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                example:
                  requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                  results:
                    - orderId: 4299281547
                      isError: true
                      errors:
                        - code: 404
                          detail: NotFound
                    - orderId: 4279781545
                      isError: false
                properties:
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                    example: f1787bd2d1fdс35d6f537316514у4a05
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        errors:
                          items:
                            type: object
                            properties:
                              code:
                                type: integer
                                description: Код ошибки
                                example: 404
                              detail:
                                type: string
                                description: |
                                  - `NotFound` — сборочное задание не найдено
                                  - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
                                  - `SGTINIsNotFilled` — обязательный [код маркировки](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post) не указан
                                example: NotFound
                          type: array
                          description: Детали ошибки
                        isError:
                          type: boolean
                          description: Есть ли ошибки
                          example: true
                        orderId:
                          type: integer
                          description: ID сборочного задания с успешно обновлёнными данными
                          example: 123456
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/reject:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Сообщить об отказе от заказов
      description: |
        Метод переводит [сборочные задания](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS) из [статуса](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `deliver` в статус `reject` — отказ покупателя при получении.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/status:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Получить статусы сборочных заданий
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5632423
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5632423
                        supplierStatus:
                          type: string
                          nullable: false
                          description: Статус сборочного задания, установленный продавцом
                          example: new
                        wbStatus:
                          type: string
                          nullable: false
                          description: Статус сборочного задания в системе Wildberries
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Отменить сборочное задание
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '204':
          description: Отменено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Перевести на сборку
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Подтверждено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Перевести в доставку
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Подтверждено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/receive:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Сообщить, что заказ принят покупателем
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Code'
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Подтверждено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                InvalidWBCode:
                  $ref: '#/components/examples/InvalidWBCode'
                SGTINIsNotFilled:
                  $ref: '#/components/examples/SGTINIsNotFilled'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/reject:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания DBS
      summary: Сообщить, что покупатель отказался от заказа
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Code'
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Подтверждено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                InvalidWBCode:
                  $ref: '#/components/examples/InvalidWBCode'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Получить метаданные сборочных заданий
      description: |
        Метод возвращает метаданные [сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS). <br>
        Перечень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get), поле `requiredMeta`.<br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
          - `uin` — [УИН](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
          - `gtin` — [GTIN](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
          - `sgtin` — [код маркировки](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
          - `customsDeclaration` — [номер ГТД](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        Если ответ вернулся с пустой структурой `meta`, значит у сборочного задания нет метаданных и добавить их нельзя.<br>
        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/delete:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Удалить метаданные сборочных заданий
      description: |
        Метод удаляет значение указанных [метаданных](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) для нескольких сборочных заданий.
        <br><br>
        В одном запросе можно удалить метаданные только одного типа. Укажите тип метаданных в запросе:
          - `imei` — [IMEI](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
          - `uin` — [УИН](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
          - `gtin` — [GTIN](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
          - `sgtin` — [код маркировки](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
          - `customsDeclaration` — [номер ГТД](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка удаления метаданных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить коды маркировки за сборочными заданиями
      description: |
        Метод обновляет код маркировки [Честный знак](https://честныйзнак.рф/) в [метаданных](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) нескольких сборочных заданий.<br>
        Закрепить код маркировки можно, только если в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm` — на сборке.
        <br><br>
        Получить загруженные маркировки можно в [метаданных сборочного задания](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить УИН за сборочными заданиями
      description: |
        Метод обновляет УИН, уникальный идентификационный номер, в [метаданных сборочных заданий](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post).<br>
        У одного сборочного задания может быть только один УИН.
        Добавлять УИН можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить IMEI за сборочными заданиями
      description: |
        Метод обновляет IMEI в [метаданных](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) нескольких сборочных заданий.<br>
        У одного сборочного задания может быть только один IMEI.
        Добавлять IMEI можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '409':
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить GTIN за сборочными заданиями
      description: |
        Метод обновляет GTIN, уникальный ID товара в Беларуси, в [метаданных](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) нескольких сборочных заданий.<br>
        У одного сборочного задания может быть только один GTIN.
        Добавлять GTIN можно только для сборочных заданий, которые доставляются WB и находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `confirm`.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/customs-declaration:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить за сборочными заданиями номер ГТД
      description: |
        Метод обновляет номер ГТД — грузовой таможенной декларации — в [метаданных сборочных заданий](/openapi/orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post).
        <br><br>
        У одного сборочного задания может быть только один ГТД.

        Добавлять номер ГТД можно только для сборочных заданий, которые находятся в [статусе](/openapi/orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1status/post) `deliver`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных DBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 500 запросов | 120 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      customsDeclaration:
                        type: string
                        minLength: 17
                        maxLength: 29
                        description: Номер ГТД
                        example: 10704010/010624/0000302
                      orderId:
                        type: integer
                        description: ID сборочного задания
                    required:
                      - customsDeclaration
                      - orderId
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления маркировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Получить метаданные сборочного задания
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Удалить метаданные сборочного задания
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
        - name: key
          in: query
          schema:
            type: string
          description: Название метаданных для удаления (**imei**, **uin**, **gtin**, **sgtin**). Передаётся только одно значение
      responses:
        '204':
          description: Удалено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '409':
          description: Ошибка удаления метаданных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить за сборочным заданием код маркировки товара
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sgtins:
                  type: array
                  description: Массив кодов маркировки. Допускается от 16 до 135 символов для кода одной маркировки.
                  minItems: 1
                  maxItems: 24
                  items:
                    type: string
                    description: Код маркировки на упаковке. От 16 до 135 символов.
                    example: '1234567890123456'
      responses:
        '204':
          description: Отправлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить за сборочным заданием УИН (уникальный идентификационный номер)
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uin:
                  type: string
                  minLength: 16
                  maxLength: 16
                  description: УИН
                  example: '1234567890123456'
              required:
                - uin
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить за сборочным заданием IMEI
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imei:
                  type: string
                  minLength: 15
                  maxLength: 15
                  description: IMEI
                  example: '123456789012345'
              required:
                - imei
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные DBS
      summary: Закрепить за сборочным заданием GTIN
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [13 апреля](https://dev.wildberries.ru/release-notes?id=378)
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gtin:
                  type: string
                  minLength: 13
                  maxLength: 13
                  description: GTIN
                  example: '1234567890123'
              required:
                - gtin
      responses:
        '204':
          description: Обновлено
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    OrderDBS:
      name: orderId
      in: path
      required: true
      description: ID сборочного задания
      schema:
        type: integer
        format: int64
        example: 5632423
    Order:
      name: orderId
      in: path
      required: true
      description: ID сборочного задания
      schema:
        type: integer
        format: int64
        example: 5632423
    Next:
      name: next
      in: query
      required: true
      schema:
        type: integer
        format: int64
      description: Параметр пагинации. Устанавливает значение, с которого надо получить следующий пакет данных. Для получения полного списка данных должен быть равен `0` в первом запросе. Для следующих запросов необходимо брать значения из одноименного поля в ответе.
    Limit:
      name: limit
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 1000
      description: Параметр пагинации. Устанавливает предельное количество возвращаемых данных.
  examples:
    IncorrectRequestBody:
      description: Некорректное тело запроса
      value:
        code: IncorrectRequestBody
        message: Некорректное тело запроса
    IncorrectRequest:
      value:
        code: IncorrectRequest
        message: Переданы некорректные данные
    IncorrectRequest1:
      description: Некорректный запрос
      value:
        code: IncorrectRequest
        message: ''
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: Передан некорректный параметр
    FailedToUpdateMeta:
      value:
        code: FailedToUpdateMeta
        message: Не удалось обновить метаданные сборочного задания. Убедитесь, что сборочное задание удовлетворяет всем необходимым требованиям (сборочное задание существует, находится в статусе "На сборке", сборочному заданию доступны метаданные см. описание метода **Получить метаданные сборочного задания**)
    StatusMismatch:
      value:
        code: StatusMismatch
        message: Несоответствие статусов, проверьте их правильность
    InvalidWBCode:
      description: Код недействителен
      value:
        code: InvalidWBCode
        message: ''
    SGTINIsNotFilled:
      description: Обязательный [код маркировки](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post) не указан
      value:
        code: SGTINIsNotFilled
        message: ''
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Требуется платёж
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки. Ошибка означает, что на балансе сервиса из [Каталога](https://dev.wildberries.ru/business-solutions) недостаточно средств
          example:
            title: payment required
            detail: please top up your balance in your company personal account https://dev.wildberries.ru/company
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: NotFound
            message: ''
    AccessDenied:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: AccessDenied
            message: ''
  schemas:
    api.OrderGroupsRequest:
      type: object
      properties:
        groups:
          type: array
          maxItems: 1000
          description: Список значений `groupId`. Можно получить из [новых](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders~1new/get) и [завершенных](./orders-dbs#tag/Sborochnye-zadaniya-DBS/paths/~1api~1v3~1dbs~1orders/get) сборочных заданий
          items:
            type: string
      example:
        groups:
          - 7a2c8810-1db2-4011-9682-5c7fa33afd83
          - 5a8f4523-4cf2-5691-9682-5a7fd33afd73
    Error:
      type: object
      nullable: false
      properties:
        code:
          type: string
          description: Код ошибки
          nullable: false
        message:
          type: string
          description: Описание ошибки
          nullable: false
        data:
          type: object
          description: Дополнительные данные ошибки
          nullable: true
    OrdersRequestAPI:
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
          type: array
      type: object
      example:
        orders:
          - 987654321
          - 123456789
    api.OrderGroup:
      type: array
      nullable: true
      items:
        type: object
        properties:
          groupID:
            description: ID группы сборочных заданий
            type: string
            format: UUID
            example: 0596a30a-d11c-4210-a231-ee1c39d61fe4
          deliveryCost:
            description: Стоимость платной доставки в валюте продажи, умноженная на 100
            type: integer
            example: 1108
          convertedDeliveryCost:
            description: Стоимость платной доставки в валюте страны продавца, умноженная на 100. Предоставляется в информационных целях.
            type: integer
            example: 29803
          currencyCode:
            description: Код валюты продажи
            format: ISO 4217
            type: integer
            example: 933
          convertedCurrencyCode:
            description: Код валюты страны продавца
            type: integer
            example: 643
    DeliveryDatesRequest:
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
            minItems: 1
            maxItems: 1000
          type: array
      type: object
      example:
        orders:
          - 1234567890
    Code:
      properties:
        code:
          type: string
          description: Код подтверждения. <br> Отображается у покупателя на сайте и в приложении Wildberries
      type: object
      example:
        code: '123456'
    Next:
      type: integer
      format: int64
      nullable: false
      description: Параметр пагинации. Содержит значение, которое необходимо указать в запросе для получения следующего пакета данных
      example: 13833711
    OrderNewDBS:
      type: object
      properties:
        salePrice:
          description: |
            Цена в валюте продажи с учетом скидки продавца, без учета скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          type: integer
          nullable: true
          example: 504658
        requiredMeta:
          description: Список метаданных, доступных для сборочного задания. [Указывать IMEI](./orders-dbs#tag/Metadannye-DBS/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post) обязательно для [предмета](./work-with-products/#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get) `Смартфоны`, `"subjectId":515`
          type: array
          nullable: true
          items:
            type: string
          example:
            - uin
        comment:
          type: string
          nullable: false
          description: Комментарий покупателя
          maxLength: 300
          example: Упакуйте в пленку, пожалуйста
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
        address:
          type: object
          nullable: false
          description: |
            Адрес покупателя для доставки. При доставке заказов в ПВЗ указан адрес ПВЗ
          properties:
            fullAddress:
              description: Адрес доставки
              type: string
              example: Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Долгота
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Широта
              example: 40.20192
        orderUid:
          type: string
          description: ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUID`
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Артикул продавца
          example: one-ring-7548
        colorCode:
          description: Код цвета (только для колеруемых товаров)
          type: string
          nullable: false
          example: RAL 3017
        rid:
          type: string
          nullable: false
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Отчет о продажах по реализации](./financial-reports-and-accounting#tag/Finansovye-otchyoty/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Дата создания сборочного задания
          example: '2022-05-04T07:56:29Z'
        deliveryType:
          type: string
          nullable: false
          description: |
            Тип доставки:
              - `dbs` — доставка силами продавца
              - `dbsPickupPoint` — доставка силами продавца в ПВЗ
              - `edbs` — экспресс-доставка силами продавца
          enum:
            - dbs
            - edbs
            - dbsPickupPoint
        skus:
          type: array
          nullable: false
          description: Массив баркодов товара
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: ID сборочного задания
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: ID склада продавца, на который поступило сборочное задание
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: Артикул WB
          example: 123456789
        chrtId:
          type: integer
          nullable: false
          description: ID размера товара в системе WB
          example: 987654321
        price:
          type: integer
          nullable: false
          description: Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 1014
        finalPrice:
          description: Сумма к оплате покупателем в валюте продажи с учетом всех скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 1014
        convertedFinalPrice:
          description: Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100. Предоставляется в информационных целях
          type: integer
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Предоставляется в информационных целях
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты продажи
          example: 643
        convertedCurrencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Код валюты страны продавца
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
        wbStickerId:
          type: integer
          description: ID стикера. Отображается только для заказов в ПВЗ
          nullable: false
          example: 123456
    OrderDBS:
      type: object
      properties:
        address:
          type: object
          nullable: true
          description: Адрес покупателя для доставки. При доставке заказов в ПВЗ указан адрес ПВЗ
          properties:
            fullAddress:
              description: Адрес доставки
              type: string
              example: Челябинская область, г. Челябинск, 51-я улица Арабкира, д. 10А, кв. 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Долгота
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Широта
              example: 40.20192
        deliveryType:
          type: string
          nullable: false
          description: |
            Тип доставки:
              - `dbs` — доставка силами продавца
              - `dbsPickupPoint` — доставка силами продавца в ПВЗ
              - `edbs` — экспресс-доставка силами продавца
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
        orderUid:
          type: string
          description: ID транзакции для группировки сборочных заданий. Сборочные задания в одной корзине покупателя будут иметь одинаковый `orderUID`
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: ID группы сборочных заданий. <br> Объединяет сборочные задания, поступившие на один склад (`warehouseId`) в рамках одной транзакции покупателя (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Артикул продавца
          example: one-ring-7548
        colorCode:
          type: string
          nullable: false
          description: Код цвета (только для колеруемых товаров)
          example: RAL 3017
        rid:
          type: string
          nullable: false
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Отчет о продажах по реализации](./financial-reports-and-accounting#tag/Finansovye-otchyoty/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Дата создания сборочного задания
          example: '2022-05-04T07:56:29Z'
        skus:
          type: array
          nullable: false
          description: Массив баркодов товара
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: ID сборочного задания
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: ID склада продавца, на который поступило сборочное задание
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: Артикул WB
          example: 12345678
        chrtId:
          type: integer
          nullable: false
          description: ID размера товара в системе WB
          example: 987654321
        scanPrice:
          type: integer
          nullable: true
          description: Цена приёмки заказов в ПВЗ, в копейках. Отображается только для заказов в ПВЗ
          example: 50
        price:
          type: integer
          nullable: false
          description: Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Предоставляется в информационных целях
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
[...]
