openapi: 3.0.1
info:
  description: |
    <div class="description_important">
    <b>Методы для работы со сборочными заданиями модели DBW (Доставка курьером WB) теперь на <a href="https://dev.wildberries.ru/release-notes?id=312">отдельном контуре</a>.</b>
    </div>


    В разделе заказов FBS (Fulfillment by Seller) вам доступны методы:
      1. Управления [сборочными заданиями](/openapi/orders-fbs#tag/Sborochnye-zadaniya): информация о сборочных заданиях, метаданные, стикеры и так далее.
      2. Управления [поставками заказов](/openapi/orders-fbs#tag/Postavki-FBS) продавца на склады WB.
      3. Заказа [пропусков](/openapi/orders-fbs#tag/Propuska-FBS) на склады WB.
    <br>
    <div class="description_important">
        Узнать больше о заказах FBS можно в <a href="https://seller.wildberries.ru/instructions/ru/ru/category/b3e60238-fd4c-49ce-8668-ff688725a12d">справочном центре</a>
    </div>
  title: Заказы FBS
  version: order
  x-file-name: orders-fbs
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Сборочные задания FBS
- description: ""
  name: Метаданные FBS
- description: ""
  name: Поставки FBS
- description: ""
  name: Пропуска FBS
paths:
  /api/v3/passes/offices:
    get:
      description: |
        Метод возвращает список складов для привязки к [пропуску продавца](/openapi/orders-fbs#tag/Propuska-FBS/paths/~1api~1v3~1passes/get).

        <div class="description_important">
          Данные, которые возвращает метод, могут меняться. Рекомендуем периодически синхронизировать список
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Список складов
                items:
                  $ref: "#/components/schemas/PassOffice"
                nullable: false
                type: array
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: "Получить список складов, для которых требуется пропуск"
      tags:
      - Пропуска FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/passes:
    get:
      description: |
        Метод возвращает список всех [созданных](/openapi/orders-fbs#tag/Propuska-FBS/paths/~1api~1v3~1passes/post) пропусков продавца.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Список пропусков продавца
                items:
                  $ref: "#/components/schemas/Pass"
                nullable: false
                type: array
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список пропусков
      tags:
      - Пропуска FBS
      x-readonly-method: true
      x-category: marketplace
    post:
      description: |
        Метод создаёт [пропуск продавца](/openapi/orders-fbs#tag/Propuska-FBS/paths/~1api~1v3~1passes/get) с привязкой к складу WB.

        Пропуск действует 48 часов со времени создания.

        <div class="description_limit">
          Максимум 1 запрос в 10 <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">минут</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_passes_post_request"
        description: Общая длина ФИО ограничена от 6 до 100 символов. В номере машины
          могут быть только буквы и цифры.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_passes_post_201_response"
          description: Создано
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создать пропуск
      tags:
      - Пропуска FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/passes/{passId}:
    delete:
      description: |
        Метод удаляет пропуск продавца [из списка](/openapi/orders-fbs#tag/Propuska-FBS/paths/~1api~1v3~1passes/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID пропуска
        explode: false
        in: path
        name: passId
        required: true
        schema:
          example: 45
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Удалено
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удалить пропуск
      tags:
      - Пропуска FBS
      x-readonly-method: false
      x-category: marketplace
    put:
      description: |
        Метод обновляет данные [пропуска продавца](/openapi/orders-fbs#tag/Propuska-FBS/paths/~1api~1v3~1passes/get). В том числе, можно обновить данные привязанного склада WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID пропуска
        explode: false
        in: path
        name: passId
        required: true
        schema:
          example: 45
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_passes__passId__put_request"
        description: Общая длина ФИО ограничена от 6 до 100 символов. В номере машины
          могут быть только буквы и цифры.
        required: true
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                WarehouseNameInvalid:
                  $ref: "#/components/examples/WarehouseNameInvalid"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Обновить пропуск
      tags:
      - Пропуска FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/new:
    get:
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get), которые есть у продавца на момент запроса.

        <div class="description_important">
        Наличие в сборочных заданиях метаданных, указанных в полях <code>requiredMeta</code> и <code>optionalMeta</code>, влияет только на возможность перевести поставку в доставку. Если ваш товар подлежит обязательной <a href ="https://seller.wildberries.ru/instructions/ru/ru/material/items-labeling-in-fbs">маркировке</a> средствами
        идентификации, необходимо указывать метаданные независимо от того, в каком поле они были получены (п. 4.6 <a href ="https://seller.wildberries.ru/confirm-offer-condition/product/view">Оферты</a>).
        <br>
        Рекомендуем добавлять в сборочные задания все метаданные, полученные в полях <code>requiredMeta</code> и <code>optionalMeta</code>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_orders_new_get_200_response"
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список новых сборочных заданий
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders:
    get:
      description: |
        Метод возвращает информацию о сборочных заданиях без их актуального [статуса](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post).

        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: Параметр пагинации. Устанавливает предельное количество возвращаемых
          данных.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Параметр пагинации. Устанавливает значение, с которого надо\
          \ получить следующий пакет данных. Для получения полного списка данных д\
          олжен быть равен `0` в первом запросе. Для следующих запросов необходимо\
          \ брать значения из одноимённого поля в ответе."
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Дата начала периода в формате Unix timestamp. По умолчанию — дата за 30 дней до запроса
        explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          type: integer
        style: form
      - description: Дата конца периода в формате Unix timestamp
        explode: true
        in: query
        name: dateTo
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_orders_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить информацию о сборочных заданиях
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/status:
    post:
      description: |
        Метод возвращает статусы [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) по их ID.
        <br><br>
        `supplierStatus` — статус сборочного задания. Триггер его изменения — действие самого продавца.

        Возможные значения `supplierStatus`:

        | Статус   | Описание            | Как перевести сборочное задание в данный статус |
        |-------|----------------------|--------------------------------------|
        | `new`      | **Новое сборочное задание** |  |
        | `confirm`  | **На сборке** |[Добавить сборочное задание к поставке](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1marketplace~1v3~1supplies~1%7BsupplyId%7D~1orders/patch)
        | `complete` | **В доставке** | [Передать поставку в доставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D~1deliver/patch) |
        | `cancel`   | **Отменено продавцом**   | [Отменить сборочное задание](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1cancel/patch)|

        <br><br>
        `wbStatus` — статус системы Wildberries.

        Возможные значения `wbStatus`:
        - `waiting` — сборочное задание в работе
        - `sorted` — сборочное задание отсортировано
        - `sold` — заказ получен покупателем
        - `canceled` — отмена сборочного задания
        - `canceled_by_client` — покупатель отменил заказ при получении
        - `declined_by_client` — покупатель отменил заказ. Отмена доступна покупателю в первый час с момента заказа, если заказ не переведён на сборку
        - `defect` — отмена заказа по причине брака
        - `ready_for_pickup` — сборочное задание прибыло на пункт выдачи заказов (ПВЗ)
        - `accepted_by_carrier` — продавец передал заказ в службу доставки в своей стране
        - `sent_to_carrier` — заказ отправлен на склад службы доставки в стране продавца

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders_status_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_orders_status_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить статусы сборочных заданий
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/supplies/orders/reshipment:
    get:
      description: |
        Метод возвращает все [сборочные задания](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get), требующие повторной отгрузки.
        <br><br>
        Повторная отгрузка требуется, если поставка была отсканирована в пункте приёмки, но при этом в ней всё ещё есть неотсканированные товары. Спустя определённое время необходимо доставить эти товары заново. Данные сборочные задания можно перевести в [другую активную поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1marketplace~1v3~1supplies~1%7BsupplyId%7D~1orders/patch).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                orders:
                - supplyID: WB-GI-1234567
                  orderID: 5632423
              schema:
                $ref: "#/components/schemas/_api_v3_supplies_orders_reshipment_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить все сборочные задания для повторной отгрузки
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/cancel:
    patch:
      description: |
        Метод отменяет [сборочное задание](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) и переводит в [статус](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Отменено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
                StatusChangeNotAllowed:
                  $ref: "#/components/examples/StatusChangeNotAllowed"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Отменить сборочное задание
      tags:
      - Сборочные задания FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/stickers:
    post:
      description: |
        Метод возвращает список стикеров для [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS).

        Можно получить стикер в форматах:
          - SVG
          - ZPLV (вертикальный)
          - ZPLH (горизонтальный)
          - PNG

        Ограничения:
          - За один запрос можно получить максимум 100 стикеров.
          - Стикеры можно получить только для сборочных заданий в [статусах](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm` — на сборке и `complete` — в доставке.

        Доступны размеры:
          - 580x400 px при `width=58&height=40` в запросе
          - 400x300 px при `width=40&height=30` в запросе

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: Тип стикера
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - svg
          - zplv
          - zplh
          - png
          type: string
        style: form
      - description: Ширина стикера
        explode: true
        in: query
        name: width
        required: true
        schema:
          enum:
          - 58
          - 40
          type: integer
        style: form
      - description: Высота стикера
        explode: true
        in: query
        name: height
        required: true
        schema:
          enum:
          - 40
          - 30
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders_stickers_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_orders_stickers_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить стикеры сборочных заданий
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/orders/meta:
    post:
      description: |
        Метод возвращает метаданные [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) по списку их ID.
        <br><br>
        Перечень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1new/get), поля `requiredMeta` и `optionalMeta`.
        <br><br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1sgtin/put)
          - `expiration` — [срок годности товара](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1expiration/put)

        Если в ответе не вернулись какие-либо из объектов метаданных, значит, у сборочного задания не может быть таких метаданных — и добавить их нельзя.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v3.GetMetaMultiRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v3.OrdersMetaAPI"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                code: BadRequest
                message: Неправильный запрос
                data: {}
              schema:
                $ref: "#/components/schemas/v3.APIError"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
                data: {}
              schema:
                $ref: "#/components/schemas/v3.APIError"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
                data: {}
              schema:
                $ref: "#/components/schemas/v3.APIError"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить метаданные сборочных заданий
      tags:
      - Метаданные FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta:
    delete:
      description: |
        Метод удаляет значение [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta/get) для переданного ключа.
        <br><br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1sgtin/put)

        Можно передать только один ключ.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      - description: "Название метаданных для удаления (`imei`, `uin`, `gtin`, `sgtin`).\
          \ Передается только одно значение."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: Удалено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка удаления метаданных
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удалить метаданные сборочного задания
      tags:
      - Метаданные FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/sgtin:
    put:
      description: |
        Метод позволяет закрепить за [сборочным заданием](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) код маркировки [Честный знак](https://честныйзнак.рф).
        <br><br>
        Закрепить код маркировки можно только если в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.
        <br><br>
        Получить загруженные маркировки можно в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders__orderId__meta_sgtin_put_request"
      responses:
        "204":
          description: Отправлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления маркировки
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием код маркировки товара
      tags:
      - Метаданные FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/uin:
    put:
      description: |
        Метод обновляет УИН в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) — уникальный идентификационный номер.
        <br><br>
        У одного сборочного задания может быть только один УИН.

        Добавлять маркировку можно только для заказов, которые доставляются WB и находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders__orderId__meta_uin_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления метаданных
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием УИН
      tags:
      - Метаданные FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/imei:
    put:
      description: |
        Метод обновляет IMEI в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post).
        <br><br>
        У одного сборочного задания может быть только один IMEI. Если у устройства два IMEI — **IMEI** и **IMEI2** или **IMEI1** и **IMEI2** — укажите только **IMEI** или **IMEI1**. **IMEI2** указывать не нужно.
        <br><br>
        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders__orderId__meta_imei_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления метаданных
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием IMEI
      tags:
      - Метаданные FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/gtin:
    put:
      description: |
        Метод обновляет GTIN в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) — уникальный ID товара в Беларуси.
        <br><br>
        У одного сборочного задания может быть только один GTIN.

        Добавлять маркировку можно только для заказов, которые доставляются WB и находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders__orderId__meta_gtin_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления метаданных
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием GTIN
      tags:
      - Метаданные FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/expiration:
    put:
      description: |
        Метод закрепляет за [сборочным заданием](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) срок годности товара. Товар годен до указанной даты.
        <br>
        Добавить срок годности можно только для заказов, которые доставляются WB и находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.
        <br>
        <br>
        Получить загруженные данные можно в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post).
        Чтобы изменить срок годности, отправьте запрос с новой датой.
        Удалить срок годности из метаданных сборочного задания невозможно.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 1000 запросов | 60 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders__orderId__meta_expiration_put_request"
      responses:
        "204":
          description: Отправлено
        "400":
          content:
            application/json:
              examples:
                LowExpirationDate:
                  $ref: "#/components/examples/LowExpirationDate"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления срока годности
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием срок годности товара
      tags:
      - Метаданные FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/stickers/cross-border:
    post:
      description: |
        Метод возвращает список стикеров [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) кроссбордера, в формате PDF.<br><br>

        Ограничения:
          - За один запрос можно получить максимум 100 стикеров.
          - Можно получить стикеры только для сборочных заданий, находящихся на сборке или в доставке — [статусы](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`, `complete`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders_stickers_cross_border_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_orders_stickers_cross_border_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить стикеры сборочных заданий кроссбордера
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/status/history:
    post:
      description: |
        Метод возвращает историю [статусов](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) для [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) кроссбордера.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_orders_status_history_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_orders_status_history_post_200_response"
          description: Успешно
        "400":
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      servers:
      - url: https://marketplace-api.wildberries.ru
      summary: История статусов для сборочных заданий кроссбордера
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
  /api/v3/orders/client:
    post:
      description: |
        Метод позволяет получать информацию о покупателе по ID сборочного задания.

        Только для кроссбордера из **Турции**.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrdersRequestAPI"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrossborderTurkeyClientInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Заказы с информацией по клиенту
      tags:
      - Сборочные задания FBS
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/supplies:
    get:
      description: |
        Метод возвращает список [поставок](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: Параметр пагинации. Устанавливает предельное количество возвращаемых
          данных.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Параметр пагинации. Устанавливает значение, с которого надо\
          \ получить следующий пакет данных. Для получения полного списка данных д\
          олжен быть равен `0` в первом запросе. Для следующих запросов необходимо\
          \ брать значения из одноимённого поля в ответе."
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_supplies_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список поставок
      tags:
      - Поставки FBS
      x-readonly-method: true
      x-category: marketplace
    post:
      description: |
        Метод создаёт новую [поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get).

        Ограничения:
        - Только для [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) по модели FBS.
        - При добавлении в поставку все передаваемые сборочные задания в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `new` будут автоматически переведены в статус `confirm` — на сборке.
        - Если вы переведёте сборочное задание в статус `cancel` — отмена продавцом, прикрепленное сборочное задание автоматически удалится из поставки.
        - Поставку можно собрать только из сборочных заданий (заказов) одного габаритного типа `cargoType`. Новая поставка не обладает габаритным признаком, она приобретает габаритный признак первого заказа, добавленного в поставку.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_supplies_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_supplies_post_201_response"
          description: Создано
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создать новую поставку
      tags:
      - Поставки FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/supplies/{supplyId}/orders:
    patch:
      description: |
        Метод добавляет до 100 [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) к поставке и переводит их в [статус](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm` — на сборке.

        Может перемещать сборочные задания:
          - между активными поставками
          - из закрытой поставки в активную, если сборочные задания требуют [повторной отгрузки](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1supplies~1orders~1reshipment/get)

        <div class="description_important">
          В пустую поставку можно добавить сборочные задания любого габаритного типа. Поставка приобретает габаритный тип первого добавленного сборочного задания <a href ="./orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get">из поля</a> <code>cargoType</code>.
          <br>
          После этого в поставку можно добавить сборочные задания только того же габаритного типа, что и у поставки.
         </div>

        <div class="description_important">
        В поставку нельзя добавить сборочные задания, поступившие на разные склады.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID поставки
        explode: false
        in: path
        name: supplyId
        required: true
        schema:
          example: WB-GI-1234567
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_marketplace_v3_supplies__supplyId__orders_patch_request"
        required: true
      responses:
        "204":
          description: Сборочные задания закреплены за поставкой
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Не найдено
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToAddSupplyOrder:
                  $ref: "#/components/examples/FailedToAddSupplyOrder"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления сборочного задания к поставке
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_passes_offices_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Добавить сборочные задания к поставке
      tags:
      - Поставки FBS
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/supplies/{supplyId}:
    delete:
      description: |
        Метод удаляет [поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get), если она активна и за ней не закреплено ни одно [сборочное задание](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 300 запросов | 200 миллисекунд | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID поставки
        explode: false
        in: path
        name: supplyId
        required: true
        schema:
          example: WB-GI-1234567
          type: string
        style: simple
      responses:
        "204":
          description: Удалено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
[...]
